<a href="https://colab.research.google.com/github/eulucas/thEconomist/blob/main/Taxa_de_Lucro_SImples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando Bibliotecas

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px # -> Gerar Gráficos dinâmicos

Importando CSV do thEconomist

In [3]:
dataset = pd.read_csv('acoes.csv')

Verificar número de registros .shape

In [5]:
dataset.shape

(1665, 12)

Abrir registros

In [6]:
dataset

            Date      AMBEV         B3  ...        SUL        OI     MARISA
0     2015-01-02  16.020000   3.170000  ...   9.729705  6.753943  13.190909
1     2015-01-05  15.730000   3.083333  ...   9.529670  6.268853  13.090909
2     2015-01-06  16.330000   3.113333  ...   9.297629  5.373302  12.281818
3     2015-01-07  16.559999   3.236666  ...   9.273625  5.283747  12.509090
4     2015-01-08  16.540001   3.193333  ...   9.137601  5.335988  12.372727
...          ...        ...        ...  ...        ...       ...        ...
1660  2021-09-15  16.020000  14.050000  ...  28.459999  1.010000   5.990000
1661  2021-09-16  16.129999  14.120000  ...  28.120001  0.980000   5.790000
1662  2021-09-17  15.740000  14.180000  ...  28.129999  0.960000   5.750000
1663  2021-09-20  15.610000  13.680000  ...  27.510000  0.970000   5.300000
1664  2021-09-21  15.660000  13.550000  ...  27.030001  0.950000   5.590000

[1665 rows x 12 columns]

Taxa de Lucro - **VALOR DE 1 UMA AÇÃO**

Usarei o len(dataset), pois caso use outro arquivo ele calcula automaticamente a quantidade de linhas.

In [12]:
len(dataset)

1665

In [13]:
dataset['AMBEV'][0], dataset['AMBEV'][len(dataset) - 1]

(16.020000457763672, 15.65999984741211)

Datas Automatizadas

In [65]:
data_inicial = dataset['Date'][0]
data_final = len(dataset['Date']) - 1
data_final = dataset['Date'][data_final]

Para Calcular a Taxa de Retorno iremos fazer PREÇO FINAL(PREÇO QUE VENDEREMOS A AÇÃO) - PREÇO INICIAL(PREÇO QUE COMPRAMOS A AÇÃO) / PREÇO INICIAL(PREÇO QUE COMPRAMOS A AÇÃO) * 100

In [66]:
rs_ambev = ((dataset['AMBEV'][len(dataset) - 1] - dataset['AMBEV'][0]) / dataset['AMBEV'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_ambev))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: -2.25

In [67]:
rs_b3 = ((dataset['B3'][len(dataset) - 1] - dataset['B3'][0]) / dataset['B3'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_b3))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: 327.44

In [68]:
rs_bb = ((dataset['BB'][len(dataset) - 1] - dataset['BB'][0]) / dataset['BB'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_bb))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: 26.75

In [69]:
rs_cosan = ((dataset['COSAN'][len(dataset) - 1] - dataset['COSAN'][0]) / dataset['COSAN'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_cosan))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: 235.25

In [70]:
rs_engie = ((dataset['ENGIE'][len(dataset) - 1] - dataset['ENGIE'][0]) / dataset['ENGIE'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_engie))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: 49.26

In [71]:
rs_itausa = ((dataset['ITAUSA'][len(dataset) - 1] - dataset['ITAUSA'][0]) / dataset['ITAUSA'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_itausa))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: 55.82

In [72]:
rs_renner = ((dataset['RENNER'][len(dataset) - 1] - dataset['RENNER'][0]) / dataset['RENNER'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_renner))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: 191.34

In [75]:
rs_slc = ((dataset['SLC'][len(dataset) - 1] - dataset['SLC'][0]) / dataset['SLC'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_slc))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: 516.18

In [77]:
rs_sul = ((dataset['SUL'][len(dataset) - 1] - dataset['SUL'][0]) / dataset['SUL'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_sul))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: 177.81

In [78]:
rs_oi = ((dataset['OI'][len(dataset) - 1] - dataset['OI'][0]) / dataset['OI'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_oi))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: -85.93

In [80]:
rs_marisa = ((dataset['MARISA'][len(dataset) - 1] - dataset['MARISA'][0]) / dataset['MARISA'][0]) * 100
print('A Taxa de Retorno desta Ação em um período de {} a {} é de: {:.2f}'.format(data_inicial, data_final, rs_marisa))

A Taxa de Retorno desta Ação em um período de 2015-01-02 a 2021-09-21 é de: -57.62